
    <% if book.errors.any? %>
      <p><%= book.errors.count %>件のエラーが発生しました</p>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>